<header>
  <h1><%= t('.title') %></h1>
  <%= raw t('.about') %>
</header>

<ul>
  <% @visions.each do |vision| %>
    <li><%= link_to vision.title, vision %></li>
  <% end %>
</ul>

<% if session[:user_id] %>
<footer><%= link_to t('.new'), new_vision_path %></footer>
<% end %>
