<header><h1><%= t('visions.page') %></h1></header>
<%= raw t('visions.about') %>
<ul>
  <% @visions.each do |vision| %>
    <li><%= link_to vision.title, vision %></li>
  <% end %>
</ul>

<% if session[:user_id] %>
<footer><%= link_to 'New Vision', new_vision_path %></footer>
<% end %>
