<% content_for :meta_title, @dynamic_page&.name %>

<article class="frontpage">
  <header>
    <h1>Оставайтесь, вам помогут.</h1>

    <% unless @dynamic_page.nil? %>
      <div class="text">
        <%= raw @dynamic_page.body %>
      </div>
    <% end %>
  </header>

  <div class="content-wrapper">
    <section class="frontpage-posts">
      <%= render partial: 'components/posts/list', locals: { collection: @collection } %>
    </section>
  </div>
</article>
