<nav>
  <ul>
    <li><%= link_to(t('articles.index.nav_text'), articles_path) %></li>
    <li><%= link_to(t('blog_posts.index.nav_text'), blog_posts_path) %></li>
    <li><%= link_to(t('about.index.nav_text'), about_path) %></li>
  </ul>
</nav>