<header><h1><%= t('layouts.application.projects') %></h1></header>
<article>
  <header><a href="http://ozgg.ru/" title="ozgg.ru">Ozgg.ru</a></header>
  <p>Этот проект. Личный блог.</p>
</article>
<article>
  <header><a href="http://sovia.ru/" rel="external" title="sovia.ru">Совия</a></header>
  <p>Проект о снах.</p>
</article>
<article>
  <header><a href="http://foxyoga.ru/" rel="external" title="foxyoga.ru">Лисья йога</a></header>
  <p>Книга &laquo;Лисья йога. Письма Чёрного Лиса продвинутым существам&raquo;.</p>
</article>
