<footer class="main-footer">
  <div class="content-wrapper">
    <nav>
      <%= link_to('Обо мне', '/about') %>
      <%=
        link_to(
            image_tag('telegram.svg', alt: 'Telegram: dr_von_ozgg'),
            'https://t.me/dr_von_ozgg',
            class: 'telegram',
            rel: 'external nofollow noopener noreferrer'
        )
      %>
    </nav>
    <div class="copyright">&copy; <%= t(:copyright) %></div>
    <% if Biovision::Components::BaseComponent.privileged?(current_user) %>
      <%= link_to(t('admin.index.index.nav_text'), admin_path) %>
    <% end %>
  </div>
</footer>