@import "fonts";

$font-family-heading: 'Cormorant', serif;
$font-family-main: 'Cormorant', serif;

$font-size-increased: 2rem;
$font-size-normal: 1.8rem;
$font-size-decreased: 1.4rem;

@import "biovision/default";
