// Place all the styles related to the visions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

nav.neighbours {
  height: 1.2em;
  margin: 0 1em;

  ul {
    margin: 0;
    padding: 0;

    li {
      display: block;
      list-style: none;

      &.previous {
        float: left;

        &:before {
          content: '← '
        }
      }

      &.next {
        float: right;

        &:after {
          content: ' →'
        }
      }
    }
  }
}